h2 {
  font-size: 25px;
}

@media screen and (max-width: 425px) {
  h2 {
    font-size: 20px;
    margin: 0 auto;
    line-height: 50px;
  }
}

@media screen and (max-width: 375px) {
  h2 {
    font-size: 15px;
    margin: 0 auto;
    line-height: 50px;
  }
}

@media screen and (max-width: 450px) {
  .first-photo {
    width: 80%;
    align-items: center;
    margin: 0 auto;
  }
}

@media all and (max-width: 425px) {
  .first-photo {
    display: none;
  }
}

@media all and (max-width: 425px) {
  .text-1 {
    font-weight: 15px;
    margin-top: 30px;
  }
}

@media screen and (max-width: 425px) {
  .text-2 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .text-3 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}

@media all and (max-width: 425px) {
  p {
    display: none;
  }
}

@media all and (max-width: 425px) {
  .second-photo {
    margin: 0 auto;
  }
}
.second-block-a {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  margin-left: 15px;
}
@media screen and (max-width: 768px) {
  .second-block-a {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
  }
}

.third-block-a {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  margin-left: 15px;
  margin-right: 15px;
}
@media screen and (max-width: 768px) {
  .third-block-a {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
  }
}
.fourth-block-a {
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  margin-left: 15px;
  margin-right: 15px;
}

@media screen and (max-width: 768px) {
  .fourth-block-a {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
  }
}

.subscribe-a {
  width: 100%;
}

@media screen and (max-width: 425px) {
  .subscribe-a {
    font-size: 10px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 390px) {
  .subscribe-a {
    font-size: 10px;
    margin-top: 20px;
  }
}

#btn-subscribe-a {
  background-color: black;
  color: white;
}

.line-a {
  margin-top: 70px;
  background-color: #eee8e8;
  width: 100%;
  height: 1px;
}
